:root {
  --color-white: #fff;
  --color-dark-grey: #303030;
  --color-grey: #555;
  --color-light-grey: #9DA4BD;
  --color-orange: #FF6C00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-dark-grey);
  margin: 0;
  line-height: 1.15;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn {
  display: block;
  width: 160px;
  padding: 11px 0;
  text-align: center;
  border: 1px solid var(--color-orange);
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 25px;
  letter-spacing: 0.09em;
}

.section-padding {
  padding: 130px 0;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
}

.section-description {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-description::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--color-dark-grey);
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.text-light-grey.section-description::before {
  background-color: var(--color-light-grey);
}

.text-white {
  color: var(--color-white);
}

.text-dark-grey {
  color: var(--color-dark-grey)
}

.text-light-grey {
  color: var(--color-light-grey);
  opacity: 0.6;
}

.margin-b-sm {
  margin-bottom: 20px;
}

.margin-b-xl {
  margin-bottom: 44px;
}

.main-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-grey);
  line-height: 1.75;
  letter-spacing: 0.02em;
}

/* стили шапки */
.header {
  background-color: #000; /* временно */
  padding: 32px 0;
}

.header-container,
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.main-menu-item + .main-menu-item {
  margin-left: 40px;
}

.header-link {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--color-white);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-orange);
}

.header-phone {
  margin-left: auto;
  margin-right: 40px;
}

/* стили героя */
.hero-section {
  /* background-image: url('../images/hero-desktop-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  background: url('../images/hero-desktop-bg.png') no-repeat center/cover;
  padding: 132px 0 206px;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  color: var(--color-white);
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}

.hero-subtitle {
  color: var(--color-light-grey);
}

.hero-content {
  max-width: 500px;
}

/* секция о нас */
.about-us-list {
  margin-right: 64px;
}

.about-us-item:first-child{
  margin-right: 30px;
}

.about-us-text {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  margin-bottom: 40px;
}